name: Release new version
on:
  push:
    branches:
      - main
env:
  # renovate: datasource=crate depName=knope
  KNOPE_VERSION: 0.22.0
jobs:
  deploy_to_chocolatey:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Download Knope
        env:
          ASSET_NAME: knope-x86_64-pc-windows-msvc
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download --repo knope-dev/knope knope/v${{ env.KNOPE_VERSION }} --pattern "${{ env.ASSET_NAME }}.tgz"
          tar -xzf ${{ env.ASSET_NAME }}.tgz
          mv ${{ env.ASSET_NAME }}/knope.exe tools/knope.exe
      - name: Update version in knope.nuspec
        run: sed -i "s#<version>.*</version>#<version>${{ env.KNOPE_VERSION }}</version>#" knope.nuspec
      - run: choco pack
      - name: Push to Chocolatey
        run: |
          choco apikey --api-key ${{ secrets.CHOCOLATEY_API_KEY }} -source https://push.chocolatey.org/
          choco push --source https://push.chocolatey.org/
      - name: Set up Git
        run: |
          git config --global user.name GitHub Actions
          git config user.email github-actions@github.com
      - name: Commit back new nuspec file
        run: |
          git add knope.nuspec
          git commit -m "Update knope.nuspec to ${{ env.KNOPE_VERSION }}"
          git push
